<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="/styles2.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap" rel="stylesheet">
    </head>

    <body>

    <section>
    <div class="heroFlexContainer">
    
        <div class="heroContent">
            <div class="loggedIn">
                <p>LOGGED IN AS <%= user.name %></p>

                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
                            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
                            </svg>
                         -->
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/>
                        </svg>
                        
                    </button>
                    <ul class="dropdown-menu">
                        <!-- <button type="button" class="lightModeBtn">Light Mode</button> -->
                         <!-- <button type="button" class="darkModeBtn">Dark Mode</button> -->
                        <button type="button" class="btn btn-light lightModeBtn">Light</button>
                        <button type="button" class="btn btn-dark darkModeBtn">Dark</button>
                    </ul>
                </div>

            </div>
            
            

            <h1>HOME PAGE</h1>

            
             

            <form>
                <div class="postBox">
                    <textarea class="titleBox hidden" placeholder="Enter title here" name="titleContent" required></textarea>
                    <textarea class="contentBox hidden" placeholder="Write away" name="postContent" spellcheck="false" required></textarea>
                </div>

                <div class="heroBtnBox">
                    <button type="button" class="cancelBtn hidden">Cancel</button>
                    <button type="submit" class="postBtn hidden" formaction="/new-post" formmethod="POST">Post</button>
                </div>
            </form>
            
            
            <form>
                <div class="heroBtnBox">
                    <button type="button" class="createPostBtn">Create</button>
                    <button type="submit" class="logOutBtn" formaction="/logout" formmethod="GET">Log Out</button>
                </div>
            </form>
            
        </div>

    </div>
    </section>
    <hr>
<!-- hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->
    <section>
    <div class="gridContainer">
        <% posts.forEach((post) => { %>

        <div class="postCard id-<%= post.id %>">

            <h4> <%= post.title %> </h4>
            <h6 class="user"><%= post.name %></h6>

            <hr>

            <p class="postContent <%= post.id %>">
                <%= post.content %>
            </p>


            <form>
                <div class="confirmCancelBox hidden">
                    <textarea class="editBox hidden" spellcheck="false" name="editContent" required><%= post.content %></textarea>
                    
                    <div class="confirmCancelBtns">
                    <button type="submit" class="confirmEditBtn btn btn-success" name="editPostIndex" value=<%= post.id %> formaction="/edit-post" formmethod="POST">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg>
                    </button>

                    <button type="button" class="cancelEditBtn btn btn-danger" value=<%= post.id %>>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </button>
                    </div>

                </div>
            </form>

            <hr>

            <div class="cardFooter">
            
                <h6><em>Posted: <%= new Date(post.created_at).toLocaleString("en-ZA", {dateStyle: "medium", timeStyle: "short"}) %></em></h6>
                
                <% if (post.user_id === user.id) {%>
                <form>
                <div class="editDeleteBox">
                    <button type="button" class="editPostBtn btn btn-success" value=<%= post.id %>>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                        </svg>
                    </button>

                    <button type="submit" class="deletePostBtn btn btn-danger" name="deletePostBtn" value=<%= post.id %> formaction="/delete-post" formmethod="POST">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                </div>
                </form>
                <% } %>

            </div>

        </div>
        <% }) %>

    </div>
    </section>
<!-- hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh-->
    <!-- <footer>
        <div class="pageFooter">
            <div>FOOTER</div>
        </div>
    </footer> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
    crossorigin="anonymous"></script> -->

<%- include("./partials/footer.ejs");  %>
    <!-- <script>

        const body = document.body;

        // Load saved theme on page load
        const savedTheme = localStorage.getItem("theme");

        if (savedTheme === "dark") {
            body.classList.add("dark");
        }

        document.querySelector(".createPostBtn").addEventListener("click", () => {

            document.querySelector("h1").classList.add("headerMoveUpAnimation");
            document.querySelector("h1").classList.remove("headerMoveDownAnimation");


            document.querySelector(".titleBox").classList.add("appearAnimation");
            document.querySelector(".contentBox").classList.add("appearAnimation");
            document.querySelector(".postBtn").classList.add("appearAnimation");
            document.querySelector(".cancelBtn").classList.add("appearAnimation");


            document.querySelector(".titleBox").classList.remove("hidden");
            document.querySelector(".contentBox").classList.remove("hidden");
            document.querySelector(".postBtn").classList.remove("hidden");
            document.querySelector(".cancelBtn").classList.remove("hidden");
            document.querySelector(".createPostBtn").classList.add("hidden");
            document.querySelector(".logOutBtn").classList.add("hidden");

            
        }); 

        document.querySelector(".cancelBtn").addEventListener("click", () => {


            document.querySelector("h1").classList.add("headerMoveDownAnimation");
            document.querySelector("h1").classList.remove("headerMoveUpAnimation");

            document.querySelector(".titleBox").classList.add("disappearappearAnimation");
            document.querySelector(".contentBox").classList.add("disappearappearAnimation");
            document.querySelector(".postBtn").classList.add("disappearappearAnimation");
            document.querySelector(".cancelBtn").classList.add("disappearappearAnimation");

            document.querySelector(".titleBox").classList.remove("appearAnimation");
            document.querySelector(".contentBox").classList.remove("appearAnimation");
            document.querySelector(".postBtn").classList.remove("appearAnimation");
            document.querySelector(".cancelBtn").classList.remove("appearAnimation");


            document.querySelector(".titleBox").classList.add("hidden");
            document.querySelector(".contentBox").classList.add("hidden");
            document.querySelector(".postBtn").classList.add("hidden");
            document.querySelector(".cancelBtn").classList.add("hidden");
            document.querySelector(".createPostBtn").classList.remove("hidden");
            document.querySelector(".logOutBtn").classList.remove("hidden");
        });


        document.querySelectorAll(".editPostBtn").forEach((post) => {
            
            post.addEventListener("click", (e) => {
                
                var currentPost = e.target.closest(".postCard");
                var height = currentPost.querySelector(".postContent").offsetHeight + 50;


                currentPost.querySelector(".postContent").classList.add("hidden");
                currentPost.querySelector(".editBox").style.minHeight = height + "px";
                currentPost.querySelector(".editBox").classList.remove("hidden");
                currentPost.querySelector("em").classList.add("hidden");

                currentPost.querySelector(".editDeleteBox").classList.add("hidden");
                currentPost.querySelector(".confirmCancelBox").classList.remove("hidden");


                currentPost.querySelector(".cancelEditBtn").addEventListener("click", () => {

                    currentPost.querySelector(".postContent").classList.remove("hidden");
                    currentPost.querySelector(".editBox").classList.add("hidden");
                    currentPost.querySelector("em").classList.remove("hidden");

                    currentPost.querySelector(".editDeleteBox").classList.remove("hidden");
                    currentPost.querySelector(".confirmCancelBox").classList.add("hidden");
                    
                })

            
            })

        })

    document.querySelectorAll(".deletePostBtn").forEach((btn) => {
        btn.addEventListener("click", (e) => {

        

        setTimeout(() => {
            const postCard = e.target.closest(".postCard");
            postCard.classList.add("deleteAnimation");
        }, 3000); 
        });
    });

        document.querySelector(".darkModeBtn").addEventListener("click", () => {
            document.querySelector("body").classList.add("dark");
            localStorage.setItem("theme", "dark");
        })

        document.querySelector(".lightModeBtn").addEventListener("click", () => {
            document.querySelector("body").classList.remove("dark");
            localStorage.setItem("theme", "light");
        })


    </script> -->
    </body>
</html>
